{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <h1>Accueil</h1>
    <!-- Contenu spécifique pour Accueil -->
    <p>Soyez le bienvenue sur ma page</p>
    <p>Je suis MAREME MBALLO, étudiante en première année de BUT(Bachelor Universitaire de Technologie) Réseaux et Télécommunications à l'IUT de Roanne.</p>

    <!-- Insérer l'image ici -->
    <img src="{{ asset('images/IUT.png') }}" alt="Photo">

    <p>Sur ce site je vais vous mettre à votre disposition les éléments tels que mon CV, mon Portfolio, ce qu'il faut savoir de ma personne ainsi que ce dont vous aurez besoin pour me contacter.</p>
{% endblock %}
