{% extends 'base.html.twig' %}

{% block title %}CV{% endblock %}

{% block body %}
    <h1>CV</h1>
    <!-- Contenu spécifique pour CV -->
    <embed src="{{ asset('cv/CV.pdf') }}" type="application/pdf" width="100%" height="600px" />
{% endblock %}
