{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

    <h1>Portfolio</h1>
    <!-- Contenu spécifique pour Portfolio -->
    <p>Voici mon <b>PORTFOLIO</b></p>
    <iframe src="https://docs.google.com/spreadsheets/d/1oiBWnivMMGymnbpfBljmPphkUX9C92StM94-y1kQsNk/preview?usp=drive_embed" width="100%" height="600px"></iframe>
{% endblock %}
