{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}

    <h1>Portfolio</h1>
    <!-- Contenu spécifique pour Portfolio -->
    <p>Voici mon <b>PORTFOLIO</b></p>
    <a href="https://docs.google.com/spreadsheets/d/1oiBWnivMMGymnbpfBljmPphkUX9C92StM94-y1kQsNk/edit?usp=drive_link">Lien vers mon portfolio sur Google Sheets</a>
    <img src="{{ asset('images/portfolio.png') }}" alt="Photo">
{% endblock %}
